{sub_dirs, [
            "apps/cb_admin",
            "apps/draw",
            "rel"
           ]}.

{erl_opts, [
	    debug_info 
	    %,fail_on_warning
	   ]}.

{deps, [
    	{boss, ".*", {git, "git://github.com/ChicagoBoss/ChicagoBoss.git",  {tag, "v0.8.11"}}}
	%, PUT HERE YOUR DEPS
	]}.

{require_otp_vsn, "R15B03|R16B"}.


