{sub_dirs, [
            "apps/cb_admin",
            "apps/draw",
            "rel"
           ]}.

{erl_opts, [
	    debug_info 
	    %,fail_on_warning
	   ]}.

{deps, [
    	{boss, ".*", {git, "git://github.com/mihawk/ChicagoBoss.git",  {branch, "develop"}}}
	%, PUT HERE YOUR DEPS
	]}.

{require_otp_vsn, "R16B"}.


