%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       %{app_file, strip},
       {rel, "draw", "0.0.2",
        [
         kernel,
         stdlib,
         sasl,
	 inets,
	 crypto,
	 public_key,
	 ssl,
         lager,
         boss,
         cb_admin,
         draw
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "draw"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, [".gitignore"]},
       {app, ranch, [{mod_cond, app}, {incl_cond, include}]},
       {app, mochiweb, [{mod_cond, app}, {incl_cond, include}]},
       {app, misultin, [{mod_cond, app}, {incl_cond, include}]},
       {app, cowboy, [{mod_cond, app}, {incl_cond, include}]},
       {app, draw, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "draw"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data"},
           {mkdir, "log/sasl"},
           {mkdir, "etc"},
           {template, "files/erl", "{{erts_vsn}}/bin/erl"},
           {template, "files/erl", "{{erts_vsn}}/bin/erl"},
           {template, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/draw", "bin/draw"},
           {template, "files/draw.cmd", "bin/draw.cmd"},
           {template, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {template, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {template, "files/sys.config", "releases/{{rel_vsn}}/sys.config"},
           {template, "files/vm.args", "releases/{{rel_vsn}}/vm.args"}
          ]}.
