[{boss, [
    {path, "../../deps/boss"},       
    {applications, [draw,cb_admin]},
    %{db_host, "192.168.188.81"},
    %{db_port, 1978},
    %{db_adapter, mock},
    {log_dir, "log"},
    {server, cowboy},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
    %,{websocket_timeout, 5000}
]},
{ draw, [
    {path, "../draw"},
    {base_url, "/"},

%%draw_custom_filters
%%draw_custom_tags
%%draw_view_lib_tags

    {model_modules, []},
    {websocket_modules, [
                         draw_draw_protocol_websocket,
                         draw_websocket_test_websocket
                         ]},
    {controller_modules,[
                         draw_draw_controller,
                         draw_incoming_mail_controller,
                         draw_outgoing_mail_controller
                         ]},                      
    {view_modules,[draw_view_draw_index_html]}
]},
{cb_admin, [
    {path, "../cb_admin"},
    {allow_ip_blocks, ["127.0.0.1"]},
    {base_url, "/admin"},
    {model_modules, []},
    {websocket_modules, []},
    {controller_modules,[
                        cb_admin_admin_controller,      
                        cb_admin_incoming_mail_controller,
                        cb_admin_lang_controller,
                        cb_admin_model_controller,
                        cb_admin_outgoing_mail_controller,
                        cb_admin_routes_controller,
                        cb_admin_upgrade_controller]},
    {view_modules,[
                        cb_admin_view_admin_access_denied_html,
                        cb_admin_view_admin_index_html,
                        cb_admin_view_admin_layouts_admin_html,
                        cb_admin_view_admin_layouts_shared__alerts_html,
                        cb_admin_view_admin_layouts_shared__main_menu_html,
                        cb_admin_view_admin_layouts_shared__sidebar_html,
                        cb_admin_view_admin_splash_html,
                        cb_admin_view_lang_big_red_button_html,
                        cb_admin_view_lang_create_html,
                        cb_admin_view_lang_delete_html,
                        cb_admin_view_lang_shared__lang_left_submenu_html,
                        cb_admin_view_lang_shared__lang_right_submenu_html,
                        cb_admin_view_lang_show_html,
                        cb_admin_view_lib_tags,
                        cb_admin_view_model_create_html,
                        cb_admin_view_model_delete_html,
                        cb_admin_view_model_edit_html,
                        cb_admin_view_model_model_html,
                        cb_admin_view_model_show_html,
                        cb_admin_view_model_upload_html,
                        cb_admin_view_routes_index_html,
                        cb_admin_view_upgrade_upgrade_html
                        ]}
]}
].
